 @font-face {
 	font-family: 'mullerbold';
 	src: url('../fonts/muller-bold.eot');
 	src: url('../fonts/muller-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/muller-bold.woff2') format('woff2'), url('../fonts/muller-bold.woff') format('woff'), url('../fonts/muller-bold.ttf') format('truetype'), url('../fonts/muller-bold.svg#mullerbold') format('svg');
 	font-weight: normal;
 	font-style: normal;
 }
 
 @font-face {
 	font-family: 'mullerlight';
 	src: url('../fonts/muller-light.eot');
 	src: url('../fonts/muller-light.eot?#iefix') format('embedded-opentype'), url('../fonts/muller-light.woff2') format('woff2'), url('../fonts/muller-light.woff') format('woff'), url('../fonts/muller-light.ttf') format('truetype'), url('../fonts/muller-light.svg#mullerlight') format('svg');
 	font-weight: normal;
 	font-style: normal;
 }
 
 @font-face {
 	font-family: 'muller_regularregular';
 	src: url('../fonts/muller-regular.eot');
 	src: url('../fonts/muller-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/muller-regular.woff2') format('woff2'), url('../fonts/muller-regular.woff') format('woff'), url('../fonts/muller-regular.ttf') format('truetype'), url('../fonts/muller-regular.svg#muller_regularregular') format('svg');
 	font-weight: 400;
 	font-style: normal;
 }
 
 * {
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 }

body {
	color: #334959;
}
 
 body p {
	 font-family: 'mullerlight';
 	 margin-bottom: 15px; 
	 font-size: 0.8em;
 }

p {
		font-family: 'mullerlight';
}
h2 {
	 	font-family: 'mullerbold';
 	text-transform: uppercase;
 	font-size: 7vw;
 	margin-bottom: 10px;
 	text-shadow: 1px 1px 1px #4e4e4e;
}
h3, h4 {
	font-family: "mullerbold";
	margin-bottom: 0.7em;
    text-align: center;
}

h4.center {
    margin: 0 auto 1em;
}
 
 .ui-page {
 	background: #fff;
 }
 
 .ui-mobile .ui-page-active {
 	overflow-x: visible !important;
 }
 
 .ui-content {
 	overflow-x: hidden !important;
 	padding: 40px 0 !important;
 	background: #fff;
 	-moz-transform: skewY(-5deg);
 	-webkit-transform: skewY(-5deg);
 	-o-transform: skewY(-5deg);
 	-ms-transform: skewY(-5deg);
 	transform: skewY(-5deg);
 	margin-top: 90%;
 	position: relative;
 	z-index: 9;
 }
 
 .ui-inner {
 	padding: 0em .8em !important;
 	-moz-transform: skewY(5deg);
 	-webkit-transform: skewY(5deg);
 	-o-transform: skewY(5deg);
 	-ms-transform: skewY(5deg);
 	transform: skewY(5deg);
 }

 .ui-btn.ui-btn-active {
 	box-shadow: none !important;
 }
 
 .ui-btn:focus,
 .ui-btn:active,
 .ui-state-focus {
 	box-shadow: none !important;
 }
 
 .ui-state-focus .splash {
 	position: fixed;
 	background: #333;
 	width: 100%;
 	height: 100vh;
 	z-index: 9999;
 }
 
 .header {
 	position: fixed !important;
 	padding: 50px 20px 0;
 	border: none;
 	width: 100%;
 	z-index: 9;
 	-moz-transform: translateY(-20px);
 	-webkit-transform: translateY(-20px);
 	-o-transform: translateY(-20px);
 	-ms-transform: translateY(-20px);
 	transform: translateY(-20px);
	 */
	top: 0;
 	left: 0;
 	position: absolute;
 	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
 	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
 	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
 	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
 	/* IE6-9 */
 	height: 23%;
 	width: 100%;
 	z-index: 9;
 }
 
 .logo {
 	margin-top: -4px;
 }
 
 .maintitle {
 	position: fixed;
 	text-align: center;
 	color: #fff;
 	padding-top: 36%;
 	z-index: 1;
 	width: 300px;
 	left: 50%;
 	margin-left: -150px;
 }
 
 .maintitle h1 {
 	font-family: 'mullerbold';
 	text-transform: uppercase;
 	font-size: 7vw;
 	margin-bottom: 10px;
 	text-shadow: 1px 1px 1px #4e4e4e;
 }

.maintitle p {
	font-size: 5vw;
	text-shadow: 1px 1px 1px #4e4e4e;
	color: white;
 }
 
 .mainpic {
 	width: 100%;
 	height: auto;
 	position: fixed;
 	top: 0;
 }
 
 .mainpic img {
 	width: 132%;
 }
 
 .mainpic .outer {
 	z-index: 3;
 	position: absolute;
 	top: 0;
 	left: -11px;
 	-webkit-transition: all 250ms ease-in;
 	-moz-transition: all 250ms ease-in;
 	-ms-transition: all 250ms ease-in;
 	-o-transition: all 250ms ease-in;
 	transition: all 250ms ease-in;
 }
 
 img.inner {
 	width: 167%;
 	margin-left: -117px;
 }
 
 .big {
 	width: 230% !important;
 	margin-left: -65%;
 }
 
 .bigger {
 	width: 300% !important;
 	margin-left: -95%;
 }
 
 .hide {
 	display: none;
 	-moz-transform: scale(1.4);
 	-webkit-transform: scale(1.4);
 	-o-transform: scale(1.4);
 	-ms-transform: scale(1.4);
 	transform: scale(1.4);
 }
 
 .head-overlay {
	 /*
 	top: 0;
 	left: 0;
 	position: absolute;
 	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
 	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
 	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
 	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
 	/* IE6-9 */
	 /*
 	height: 23%;
 	width: 100%;
 	z-index: 9;
	 */
 }
 
 .whitecorner {
 	background: #fff;
 	height: 40px;
 	position: absolute;
 	width: 100%;
 	left: 0;
 	bottom: -26px;
 	-moz-transform: skewY(-5deg);
 	-webkit-transform: skewY(-5deg);
 	-o-transform: skewY(-5deg);
 	-ms-transform: skewY(-5deg);
 	transform: skewY(-5deg);
 }
 
 .menu,
 .share,
 .contacts {
 	position: absolute;
 	right: 20px;
 	top: 44px;
 }
 
 .share {
 	display: none;
 	right: 65px;
 }
 
 .contacts {
 	display: none;
 	right: 85px;
 }
 /* MENU */
 
 #menu {
 	width: 100%;
 	height: 100vh;
 	background: rgb(0, 85, 165);
 	/* Old browsers */
 	background: -moz-linear-gradient(left, rgba(0, 85, 165, 1) 0%, rgba(36, 127, 231, 1) 100%);
 	/* FF3.6-15 */
 	background: -webkit-linear-gradient(left, rgba(0, 85, 165, 1) 0%, rgba(36, 127, 231, 1) 100%);
 	/* Chrome10-25,Safari5.1-6 */
 	background: linear-gradient(to right, rgba(0, 85, 165, 1) 0%, rgba(36, 127, 231, 1) 100%);
 	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0055a5', endColorstr='#247fe7', GradientType=1);
 	/* IE6-9 */
 	-webkit-box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.2);
 	box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.2);
 	color: #fff;
 	padding: 40px 20px;
 	text-align: center;
 }
 
 #menu ul {
 	list-style-type: none;
 }
 
 #menu ul li {
 	margin-bottom: 25px;
 }
 
 #menu ul li a {
 	color: #fff;
 	text-transform: uppercase;
 	text-decoration: none;
 	font-size: 20px !important;
 	font-family: 'mullerlight';
 }
 
 #menu hr {
 	white-space: 70%;
 	margin: 30px 0px;
 	opacity: .1;
 }
 
 #menu a {
 	color: #fff;
 	text-decoration: none;
 }
 
 #menu p {
 	margin-bottom: 20px;
 }
 
 #menu img {
 	margin: 10px 0;
 }
 /* WINDOWS */
 
 .windows {
 	margin-top: 0px;
    position: absolute;
    width: 100%;
    z-index: 19;
 }
 
 .windows a {
 	color: inherit;
 	text-decoration: none;
 }

 .windows .skew_btn.sunroof {
	-moz-transform: skewY(0deg);
 	-webkit-transform: skewY(0deg);
 	-o-transform: skewY(0deg);
 	-ms-transform: skewY(0deg);
 	transform: skewY(0deg);
    z-index: 5;
    margin-top: -1em;
    padding-top: 3.3em;
    height: 110px;
 }
 
 .windows .skew_btn.sunroof  p {
    -moz-transform: skewY(0deg);
    -webkit-transform: skewY(0deg);
    -o-transform: skewY(0deg);
    -ms-transform: skewY(0deg);
    transform: skewY(0deg);
 }

 .skew_btn {
 	width: 100%;
 	height: 95px;
 	position: relative;
    z-index: 6;
 	overflow: hidden;
 	background: #000;
 	text-align: center;
 	padding-top: 39px;
 	-moz-transform: skewY(-5deg);
 	-webkit-transform: skewY(-5deg);
 	-o-transform: skewY(-5deg);
 	-ms-transform: skewY(-5deg);
 	transform: skewY(-5deg);
 	z-index: 9;
 }
 
 .skew_btn:hover {
 	background: #ed1556;
 }
 
 .skew_btn p {
 	color: #fff;
 	width: 100%;
 	-moz-transform: skewY(5deg);
 	-webkit-transform: skewY(5deg);
 	-o-transform: skewY(5deg);
 	-ms-transform: skewY(5deg);
 	transform: skewY(5deg);
 	position: relative;
 	z-index: 1;
	font-size: 1em;
 }
 
 .windshield .pic {
 	background: url(../img/windshield/main.jpg);
 	background-size: cover;
 	width: 100%;
 	background-position: auto;
 	opacity: .75;
 	height: 95px;
 	margin-top: -74px;
 }
 
 .rear .pic {
 	background: url(../img/backlite/main.jpg);
 	background-size: cover;
 	width: 100%;
 	background-position: auto;
 	opacity: .75;
 	height: 95px;
 	margin-top: -74px;
 }
 
 .side .pic {
 	background: url(../img/side/main.jpg);
 	background-size: cover;
 	width: 100%;
 	background-position: auto;
 	opacity: .75;
 	height: 95px;
 	margin-top: -74px;
 }

#side .table-name {
    margin-top: 1em;
}

 .frside {
 	top: 0px;
 	position: absolute;
 	width: 53%;
 	overflow: hidden;
 	height: 100vh;
 	z-index: 2;
 }
 
 .frside img {
 	top: 0px;
 	position: absolute;
 	width: 249%;
 }
 
 .in_frside {
 	top: 0px;
 	position: absolute;
 	width: 50%;
 	overflow: hidden;
 	height: 100vh;
 	z-index: 2;
 }
 
 .in_frside img {
 	top: 0px;
 	position: absolute;
 	width: 334%;
 }
 
 .in_frside img.inner,
 .in_reside img.inner {
 	margin-left: -110px;
 }
 
 .reside,
 .in_reside {
 	position: relative;
 	top: 0;
 	z-index: 1;
 }
 
 .sunroof .pic {
 	background: url(../img/sunroof/main.jpg);
 	background-size: cover;
 	width: 100%;
 	background-position: auto;
 	opacity: .75;
 	height: 110px;
 	margin-top: -89px;
 }
 /* INNER PAGE */
 
 #tech-spec {
 	width: 100%;
 	font-size: 14px;
 	text-align: left;
 	margin-bottom: 30px;
 }
 
 #tech-spec td,
 #tech-spec th {
 	background: #fff;
 	margin-bottom: 5px;
 	padding: 10px 5px;
 	border-bottom: solid 1px #ccc;
 }
 
 #tech-spec td {
 	text-align: center;
 }
 
 #tech-spec .fa {
 	font-size: 19px;
 	color: #ed1556;
 }
 
 #tech-spec td .ui-btn {
 	border-color: transparent !important;
 }
 
 .table-name h4 {
 	text-align: center;
 	background: #ed1556;
 	padding: 15px;
 	text-transform: uppercase;
 	color: #fff;
 }
 
 .table-name h5 {
 	background: #dddddd;
 	padding: 10px;
 	width: 100%;
 	margin-bottom: 20px;
 	text-align: center;
 }
 
 .ui-table-reflow tbody th {
 	margin-top: 1em !important;
 }
 
 .ui-popup-screen {
 	background: #000 !important;
 }
 
 .ui-overlay-shadow {
 	-webkit-box-shadow: 0 0 32px rgba(0, 0, 0, .6);
 	-moz-box-shadow: 0 0 32px rgba(0, 0, 0, .6);
 	box-shadow: 0 0 32px rgba(0, 0, 0, .6);
 }
 
 .close_btn {
 	background: rgb(237, 21, 86);
 	border-radius: 90%;
 	width: 60px;
 	display: block;
 	padding: 15px;
 	height: 60px;
 	position: absolute;
 	left: 50%;
 	margin: -54px 0 0 -30px;
 }
 
 .rotate_btn_sides {
 	background: rgb(237, 21, 86);
 	border-radius: 90%;
 	width: 60px;
 	display: block;
 	padding: 0;
 	height: 60px;
 	position: fixed;
 	top: 32%;
 	right: 5%;
 	text-align: center;
 	z-index: 9999;
 	overflow: hidden;
 }
 
 .rotate_btn {
 	background: rgb(237, 21, 86);
 	border-radius: 90%;
 	width: 60px;
 	display: block;
 	padding: 0;
 	height: 60px;
 	position: absolute;
 	top: 55%;
 	right: 5%;
 	text-align: center;
 	z-index: 9999;
 	overflow: hidden;
 }
 
 .rotate_btn span,
 .rotate_btn_sides span {
 	color: #fff;
 	display: block;
 	margin: 22px 0 30px;
 	font-size: 12px;
 	-webkit-transition: all 250ms ease-out;
 	-moz-transition: all 250ms ease-out;
 	-ms-transition: all 250ms ease-out;
 	-o-transition: all 250ms ease-out;
 	transition: all 250ms ease-out;
 }
 
 .clicked span {
 	margin: -12px 0 30px;
 }
 
 .ui-popup {
 	margin-top: 25%;
 	overflow: visible !important;
 	padding: 22px !important;
 	-moz-transform: skewY(0deg);
 	-webkit-transform: skewY(0deg);
 	-o-transform: skewY(0deg);
 	-ms-transform: skewY(0deg);
 	transform: skewY(0deg);
 }

.poptable {
    border-spacing: 0px;
}

.poptable tr:nth-child(2n+1) {
    background: #f2f2f2;
}

.poptable td {
    padding: 10px;
    text-align: center !important;
    font-size: 0.7em !important;
   
}
 
 .ui-popup h4 {
 	font-family: 'mullerlight';
 	font-size: 16px !important;
 	margin: 35px 0 25px !important;
 }
 
 .ui-popup:after,
 .ui-popup:before {
 	content: '';
 	position: absolute;
 	border-radius: 5px;
 	height: 40px;
 	z-index: -1;
 	background: rgba(255, 255, 255, 0.75);
 }
 
 .ui-popup:after {
 	width: 92%;
 	left: 4%;
 	bottom: -7px;
 }
 
 .ui-popup:before {
 	width: 84%;
 	bottom: -13px;
 	left: 8%;
 }
/* LEXICO */

.lexico_list {
list-style-type: none;
line-height: 1.5em;
	margin: 1em 0.5em;
}

.lexico h2 {
	margin-top:1.5em;
}

.lexico_list span {
	font-weight:bold;
}

.lexico_url {
	text-align:center;
}

 /* CONTACTS PAGE */
 
 form {
 	padding: 0;
 	text-align: center;
    width: 300px;
    display: block;
    margin: 0 auto;
 }
 
 .ui-input-text,
 .ui-input-search {
 	border-width: 0 !important;
 	border-style: none !important;
 }
 
    .ui-body-a,
    .ui-page-theme-a .ui-body-inherit,
    html .ui-bar-a .ui-body-inherit,
    html .ui-body-a .ui-body-inherit,
    html body .ui-group-theme-a .ui-body-inherit,
    html .ui-panel-page-container-a {
        background-color: #fff;
        /* border-color: #ddd; */
        border: none;
        box-shadow: none !important;
        color: #333;
        text-shadow: 0 1px 0 #f3f3f3;
    }


.ui-input-text input,
.ui-input-search input {
    margin: 0;
    min-height: 2.2em;
    text-align: center !important;
    width: 290px !important;
    padding: auto 0 !important;
    border: 0;
    background: transparent none;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit
}

 form input {
 	border: solid 1px !important;
 	border-color: #fff #fff #d8d8d8 #fff !important;
 	padding: 15px !important;
 	border-radius: 0 !important;
 	box-shadow: none !important;
 	background: #fff !important;
 	margin-bottom: 20px !important;
 }
 
 form textarea {
 	border: solid 1px !important;
 	height: 90px;
 	border-color: #fff #fff #d8d8d8 #fff !important;
 	padding: 15px !important;
 	border-radius: 0 !important;
 	box-shadow: none !important;
 	background: #fff !important;
 	margin-bottom: 20px !important;
 }
 
 form button {
 	display: inline-block !important;
 	overflow: hidden !important;
 	position: relative !important;
 	color: #fff !important;
 	width: 100% !important;
 	text-shadow: none !important;
 	font-size: 16px !important;
 	border-radius: 5px !important;
 	padding: 20px 60px !important;
 	letter-spacing: 3px !important;
 	cursor: pointer;
 	font-weight: 400 !important;
 	font-family: 'muller_regularregular';
 	background: rgb(0, 85, 165);
 	/* Old browsers */
 	background: -moz-linear-gradient(left, rgba(0, 85, 165, 1) 0%, rgba(36, 127, 231, 1) 100%);
 	/* FF3.6-15 */
 	background: -webkit-linear-gradient(left, rgba(0, 85, 165, 1) 0%, rgba(36, 127, 231, 1) 100%);
 	/* Chrome10-25,Safari5.1-6 */
 	background: linear-gradient(to right, rgba(0, 85, 165, 1) 0%, rgba(36, 127, 231, 1) 100%);
 	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0055a5', endColorstr='#247fe7', GradientType=1);
 	/* IE6-9 */
 	-webkit-box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.2);
 	box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.2);
 	-webkit-transition: all 250ms ease;
 	-moz-transition: all 250ms ease;
 	-ms-transition: all 250ms ease;
 	-o-transition: all 250ms ease;
 	transition: all 250ms ease;
 }
 
 form button:hover {
 	background: -moz-linear-gradient(left, rgba(230, 27, 76, 1) 0%, rgba(236, 22, 85, 0.6) 100%);
 	/* FF3.6-15 */
 	background: -webkit-linear-gradient(left, rgba(230, 27, 76, 1) 0%, rgba(236, 22, 85, 0.6) 100%);
 	/* Chrome10-25,Safari5.1-6 */
 	background: linear-gradient(to right, rgba(230, 27, 76, 1) 0%, rgba(236, 22, 85, 0.6) 100%);
 	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e61b4c', endColorstr='#99ec1655', GradientType=1);
 	/* IE6-9 */
 	-webkit-transition: all 250ms ease;
 	-moz-transition: all 250ms ease;
 	-ms-transition: all 250ms ease;
 	-o-transition: all 250ms ease;
 	transition: all 250ms ease;
 }
 /* GLASS ROTATOR */
 
 .colors-conatiner {
 	margin: 5% 0 0%;
 }
 
 .colors-conatiner-small {
 	margin: 0% 0 15%;
 }
 
 #tabs h4 {
 	text-align: center;
 	margin: 15px 0 5px;
 }

#lami_2, #lami_1 {
    display: none;
} 
 
 .glass-rotator {
 	padding: 10% 0% 5% 20%;
 	width: 110%%;
 	margin-left: -3%;
 	overflow: auto;
 	height: 195px;
 }
 
 .glass-rotator .item {
 	width: 90px;
 	height: 90px;
 	border-radius: 4px;
 	display: inline-block;
 	vertical-align: top;
 	margin-right: 15px;
 	-webkit-transition: all 250ms ease;
 	-moz-transition: all 250ms ease;
 	-ms-transition: all 250ms ease;
 	-o-transition: all 250ms ease;
 	transition: all 250ms ease;
 	text-align: center;
 }
 
 .glass-rotator .item.active {
 	-moz-transform: translateY(-15px);
 	-webkit-transform: translateY(-15px);
 	-o-transform: translateY(-15px);
 	-ms-transform: translateY(-15px);
 	transform: translateY(-15px);
 	border: solid 5px #ed1556;
 }
 
 .glass-rotator .item p {
 	margin-top: 105px;
 	font-size: 12px;
 }
 /* COLORS */
 
 .wonderlite_off {
 	background: rgba(0, 19, 78, 0.3);
 }

 .wonderlite_on {
 	background: rgba(0, 33, 142, .3);
 }
 
 .tsa {
 	background: rgba(126, 175, 148, 0.3);
 }

 .pure-gray{
    background: rgba(230, 230, 230, 0.5);
 }
 
 .tsa-tsa {
 	background: rgba(166, 187, 175, 0.3);
 }
 
 .solarplus-tsa {
 	background: rgba(157, 186, 170, 0.3);
 }
 
 .iris-green {
 	background: rgba(81, 121, 99, 0.3);
 }
 
 .super-iris {
 	background: rgba(124, 154, 138, 0.3);
 }
 
 .solarplus-clair {
 	background: rgba(150, 175, 161, 0.3);
 }
 
 .athergrey17 {
 	background: rgba(0, 0, 0, 0.3);
 }

 .athergrey17-17 {
 	background: rgba(0, 0, 0, 0.33);
 }
 
 .athergrey8 {
 	background: rgba(0, 0, 0, 0.4);
 }
 
 .athergreen32 {
 	background: rgba(27, 98, 59, 0.5);
 }
 
 .solarplus71-solarplus71 {
 	background: rgba(110, 159, 132, 0.3);
 }
 
 .solarplus_solarplus71 {
 	background: rgba(126, 175, 148, 0.3);
 }
 
 .solarplus71 {
 	background: rgba(122, 154, 136, 0.4);
 }
 
 .tsa_tsa_solarpvb {
 	background: rgba(165, 176, 170, 0.3);
 }
 /* AUTHORIZATION */
 .enter {
    height: 21px;
    position: absolute;
    width: 28px;
    z-index: 99;
}

 #auth {
 	position: fixed;
 	background: rgba(36, 127, 231, 1);
 	width: 100%;
 	height: 100vh;
    top: 0;
    left: 0;
 	z-index: 2000;
 }
 
 #auth form {
 	background: #fff;
 	border-radius: 7px;
 	padding: 25px;
 	margin: 30vh auto 0;
 	width: 70%;
 	max-width: 400px;
 }
 
 #auth form img {
 	position: absolute;
 	margin-top: -80px;
 	left: 50%;
 	margin-left: -90px;
 }
 
 #auth form input {
 	text-align: center;
 	width: 100%;
 }
 
 #auth form button {
 	height: 50px;
 	border: none;
 	padding: 0 30px !important;
 }