@import "../utils/vars";

.main-nav{
  background: $black;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  padding: 65px 0;
  width: 100%;
  height: calc(100vh - 85px);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  @include transition();

  li{
    a{
      color:$white;
      @include m-font-7;
      font-size: 20px;
      width: 100%;
      cursor: pointer;
      padding: 10px 38px;
      text-decoration: none;

      &.active, &:hover{
        color: $gold;
        background: #313131;
      }
    }
  }
}

