.main-nav
  ul
    li
      a(href="index.html") Home
    li
      a(href="index.html#content-2").anhor Our purpose
    li
      a(href="index.html#content-3").anhor We are looking for startups to
    li
      a(href="index.html#content-6").anhor Who should participate?
    li
      a(href="index.html#content-7").anhor We come together to offer
    li
      a(href="index.html#content-8").anhor How it works
    li
      a(href="index.html#content-9").anhor Our partners
