@import url(./default.less);
@import url(./mixin.less);

.btn {
  padding: 0px 15px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  color: #fff;
  border: 1px solid #FFFFFF;
  height: 83px;
  min-width: 350px;
  .transition;

  &:hover {
    background: @red;
  }

  a& {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &.red, &.white-line {
    background: @red;
    border: 1px solid #fff;

    &:hover {
      background: transparent;
    }
  }

  &.red {
    border-color: @red;

    &:hover {
      border-color: #fff;
    }
  }

  &.small {
    height: 61px;
    min-width: 262px;
    font-size: 21px;
  }
}

.center {
  position: relative;
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 48px 0;
}

#menu-icon-svg {
  stroke: #ffffff;
  fill: none;
  stroke-width: 14;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.network {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 10px;

  & > * {
    margin: 0 10px;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.main-header {
  background: url(../img/main-bg.jpg) no-repeat top center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: #FFFFFF;

  a {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .top-header {
    padding: 45px 0;
    align-items: center;
    position: relative;
  }

  .btn {
    margin-top: 32px;
    height: 82px;
    font-size: 30px;
  }

  .main-nav {
    display: flex;
    margin: 0 -30px;

    li {
      margin: 0 30px;

      &:last-child {
        margin-right: 6.5vw;
      }
    }

    a {
      border-bottom: 1px solid transparent;
      padding: 12px 0;

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }

  .info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 110px 0;
  }
}

#features {
  .container {
    & > * {
      flex: 1 1 220px;
      text-align: center;
    }
  }

  .features-item {
    p {
      padding: 0 15px;
    }

    .image {
      margin-bottom: 8px;
      min-height: 80px;
    }
  }
}

#articles {
  background: #f0f0f0;

  .articles-wrapper {
    margin-top: 52px;

    & > * {
      flex: 1 1 250px;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 8px;

      & + .item {
        margin-top: 3.6vw;
      }

      p {
        max-width: 250px;
      }
    }

    .right {
      .item {
        align-items: flex-start;
      }
    }

    .image {
      max-width: 352px;

      img {
        max-width: 270px;
      }
    }

    a {
      margin-top: 5px;
      color: @red;
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: @red;
      }
    }
  }
}

#our-works {
  padding-bottom: 122px;

  h2 {
    margin-bottom: 60px;
  }

  .flex-container > * {
    margin-top: 10px;
  }

  .portfolio-items {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

#showcase {
  background: @blue;
  color: #fff;

  h2, p {
    font-weight: 300;
  }

  &.section {
    padding: 0;
  }

  .container {
    min-height: 402px;
    align-items: stretch;

    & > * {
      flex: 1 1 300px;
    }
  }

  .center {
    padding: 0;
    max-width: 100%;
  }

  .image {
    margin-top: 0;
    margin-bottom: 0;
    background-position: center right;
    min-height: 250px;
  }

  .wrap-text {
    display: flex;
    align-items: center;
  }

  .text {
    max-width: 35.2vw;
    padding: 45px;
    text-align: left;

    h2 {
      text-align: left;
    }

    .btn {
      margin-top: 40px;
    }
  }
}

#team {
  .item {
    flex: 1 1 250px;
    max-width: 277px;
    text-align: center;

    p {
      line-height: 24px;
    }

    .image {
      margin-bottom: 35px;
    }

    .network {
      margin-top: 35px;
    }
  }
}

#contacts {
  background: #40436c;
  color: #fff;

  h2 {
    margin-bottom: 0;
  }

  .description {
    margin-bottom: 17px;
  }

  .input-btn {
    display: flex;

    input {
      flex: 1 1 250px;
      margin-bottom: 0;
    }

    .btn {
      flex: inherit;
      min-width: inherit;
      margin-left: 30px;
      text-transform: inherit;
    }
  }

  .container {
    align-items: stretch;

    & > * {
      flex: 1 1 350px;
      margin-bottom: 30px;
    }

    textarea {
      width: 100%;
      height: 100%;
    }
  }
}

#copyright {
  background: #242758;
  color: #fff;
  padding: 56px 0;
  font-size: 25px;

  a {
    color: #797eb9;

    &:hover {
      color: #fff;
    }
  }

  .name + .name {
    margin-top: 12px;
  }

  .network {
    margin-top: 43px;
  }
}

.tab-show {
  display: none;
}
@media screen and (min-width: 1049px){
  .main-nav{
    display: flex!important;
  }
}
@media screen and (max-width: 1050px) {
  .main-header{
    .top-header{
      padding: 25px 0;
    }
    .info{
      padding-bottom: 14vh;
    }
  }
  .wrap-main-nav {
    position: absolute;
    max-height: 70vh;
    overflow-y: auto;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 15px;
    top: 100%;
    z-index: 10;

    .main-nav {
      background: #fff;
      margin: 0;
      display: none;
      box-shadow: 0px 15px 10px -10px #000;

      a {
        color: #3e3e3e;
      }
      li{
        margin: 0!important;
      }
    }
  }

  .tab-show {
    display: block;
  }

  #articles {
    .image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0.05;
    }

    .articles-wrapper {
      display: block;

      .item {
        display: block;
        text-align: center;

        h3 {
          text-align: center;
        }

        p {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 18px;
    height: 43px;
    min-width: inherit;
    width: 100%;
    max-width: 320px;
    .transition;
  }

  #showcase .text {
    max-width: inherit;
    padding: 45px 15px;
  }

  #contacts .input-btn {
    flex-direction: column;

    .btn {
      margin-top: 30px;
      margin-left: 0;
      width: 100%;
      max-width: inherit;
    }

    input {
      flex: inherit;
    }
  }
}