@import url(mixin.less);

html{
	height: 100%;
}
html, body{
	margin: 0;
	overflow-x: hidden;
}
body{
	position: relative;
	font-size: 16px;
	min-height: 100%;
	color: #171919;
	display: flex;
	flex-direction: column;
	width: 100%;
	.font;
}
*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	padding: 0;
	margin: 0;

	&::selection {
		background: @orange;
		color: #fff;
	}
}
img{
	max-width: 100%;
	display: inline-block;
}
a{
	display: inline-block;
	color: #000;
	text-decoration: none;
	.transition;

	&:hover{
		color: @orange;
	}
}
h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	font-weight: normal;
}
h1{
	font-size: 68px;
	font-weight: bold;

	& + p{
		font-size: 26px;
		margin-top: 10px;

		span{
			opacity: 0.6;
		}
	}
}
h2{
	font-size: 42px;
	margin-bottom: 50px;
	font-weight: 700;

	&.mb35{
		margin-bottom: 35px;
	}
	&.mb30{
		margin-bottom: 30px;
	}
}
h3{
	font-size: 30px;
}
h4{
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 15px;
}
h5{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 30px;
}
h6{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}
p{
	& + p{
		margin-top: 25px;
	}
}
ul{
	list-style: none;
}
button{
	border: none;
	cursor: pointer;
	border-radius: 0;
	appearance: none;
	font-family: 'Montserrat', sans-serif;
}
input{
	appearance: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
}
label{
	font-family: 'Montserrat', sans-serif;

	&.info{
		background: url(../img/icons/alert-circle.svg) no-repeat right center;
		padding-right: 24px;
	}
}
input:not([type="submit"]){
	width: 100%;
	border-radius: 0;
	height: 50px;
	padding: 0 15px;
	font-size: 16px;
	border: 1px solid #a4aec0;
	border-radius: 6px;
}
textarea{
	max-width: 100%;
	outline: none;
	border: none;
	display: block;
	padding: 15px;
	min-height: 261px;
	font-size: 16px;
	width: 100%;
	resize: none;
	border: 1px solid #a4aec0;
	border-radius: 6px;
	.font;
}
address{
	font-style: normal;
}
strong{
	font-weight: 700;
}
hr{
	border: none;
	border-bottom: 1px solid #dde3ec;
}
::-webkit-input-placeholder {color:rgba(23, 25, 25, 0.5);font-weight: 500;}
::-moz-placeholder          {color:rgba(23, 25, 25, 0.5);font-weight: 500;}
:-moz-placeholder           {color:rgba(23, 25, 25, 0.5);font-weight: 500;}
:-ms-input-placeholder      {color:rgba(23, 25, 25, 0.5);font-weight: 500;}

.checkbox, .radio{
	display: flex;

	input{
		display: none;

		& + label{
			min-width: 24px;
			height: 24px;
			background: #fff;
			border-radius: 6px;
			margin-right: 15px;
			cursor: pointer;
			background-position: center;
			margin-bottom: 0;
			border: 1px solid #a4aec0;
			.transition;
		}
		&:checked{
			& + label{
				background: @red url(../img/icons/check.svg) no-repeat center;
				border-color: transparent;
			}
		}
	}
	.text{
		margin-top: 3px;

		label{
			font-weight: 500;
			cursor: pointer;
		}
	}
	a{
		color: @orange;
		display: inline;

		&:hover{
			color: @black;
		}
	}
}
.radio{
	input{
		& + label{
			border-radius: 50%;
		}
	}
}
.price{
	font-size: 42px;

	sup{
		font-size: 21px;
		margin-top: -15px;
	}
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start;
	margin: 0 -15px; 

	& > *{ 
		margin: 15px;

		.flex-container{
			margin: -15px;

			& > *{ 
				margin: 15px;
			}
		}
	}
	&.cl-2{
		justify-content: center;

		& > *{
			flex: 1 1 380px;
		}
	}
	&.direction-column{
		flex-direction: column;
	}
	&.align-stretch{
		align-items: stretch;
	}
	&.align-start{
		align-items: flex-start;
	}
	&.align-center{
	  align-items: center;
	}
	&.justify-between{
		justify-content: space-between;
	}
	&.justify-around{
		justify-content: space-around;
	}
	&.justify-center{
		justify-content: center;
	}
	&.justify-end{
		justify-content: flex-end;
	}
}
.main-container{
	flex: 1;
	padding: 130px 0 80px;
}
.btn{
	padding: 0px 30px;
	color: #fff;
	background: @orange;
	border: none;
	border-radius: 34px;
	height: 68px;
	font-size: 26px;
	cursor: pointer;
	text-align: center;
	margin-top: 45px;
	box-shadow: 0 20px 40px 0 rgba(251, 80, 44, 0.6);
	.transition;

	&:hover{
		background: #2d2f33;
		box-shadow: 0 10px 30px 0 rgba(26, 29, 29, 0.6);
	}
	a&{
		display: inline-flex;
		align-items: center;
	}
}
.slick-slider{
	.slick-arrow{
		.position-center;
		background: transparent;
		font-size: 0;
		width: 35px;
		height: 40px;
		z-index: 3;
		.transition;
		color: @orange;

		&:hover{
			color: @black;
		}
	}
	.slick-prev{
		left: 12px;
		right: auto;
	}
	.slick-next{
		left: auto;
		right: 12px;
	}
}
.max-width{
	max-width: 850px;
}
.clear:before,
.clear:after {
   content: "";
   display: table;
}
.clear:after {
   clear: both;
}
.pluso{
	margin-top: 55px;
	transform: scale(0.8);
	margin-left: -25px;

	.pluso-wrap{
		background: transparent!important;
	}
	.pluso-more{
		display: none!important;
	}
}
.m-mb15{
	margin-top: -15px;
}
.center{
	position: relative;
	max-width: 1170px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
}
.mobile-menu{
	display: none;
	background: transparent;

	svg{
		display: block;
	}
}
.ui-tooltip{
	font-size: 12px;
}
.ui-widget{
	*{
		.font;
	}
}
.ui-datepicker{
	margin-top: 4px;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 30px 10px rgba(23, 25, 25, 0.2);

	&.ui-widget-content{
		border: none;
	}
	&:after{
		content: ''; 
	    position: absolute;
	    left: 12px; top: -20px;
	    border: 10px solid transparent;
	    border-bottom: 12px solid #fff;
	    display: block;
	}
	.ui-datepicker-header{
		background: #fff;
		border: none;
	}	
	.ui-state-default{
		border: none;
		background: #fff;
		border-radius: 4px;
		text-align: center;
		padding: 5px 3px 4px 3px;
		font-size: 12px;
	}
	.ui-datepicker-today a{
		position: relative;

		&:after {
	    content: ''; 
	    position: absolute;
	    right: 3px;
	    bottom: 3px;
	    width: 3px;
	    height: 3px;
	    border-radius: 50%;
	    background: #fff;
	   }
	}
	.ui-state-active, .ui-state-default:hover, .ui-datepicker-today a{
		background: @red;
		color: #fff;
	}
	.ui-datepicker-prev,
	.ui-datepicker-next{
		border: none;
		background: transparent;
		cursor: pointer;

		.ui-icon{
			background: url(../img/icons/keyboard-right-arrow-button.svg) no-repeat;
		}
	}
	.ui-datepicker-prev{
		transform: rotate(180deg);
	}
}
.ui-selectmenu-button{
	display: flex;
	align-items: center;	

	&.ui-button{
		width: 100%;
		height: 50px;
		margin-top: 10px;
		padding: 17px;
		border: none;
		color: @black;

		&:active{
			background: @orange;
			color: @black;
		}
		.ui-icon{
			background: url(../img/icons/down-arrow-orange.svg) no-repeat;
			width: 13px;
			height: 15px;
			.position-center;
			right: 15px;
			left: auto;
			.transition;
		}
	}
}
.ui-menu{
	margin-top: -50px;
	border-radius: 6px;
	border: none!important;
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
	max-height: 200px;

	&::-webkit-scrollbar {
	    width: 4px;
	    background: transparent;
	    margin-right: 3px;
	    border-radius: 20px;
	}
	&::-webkit-scrollbar-track {
	    -webkit-box-shadow: none;
	}
	&::-webkit-scrollbar-thumb {
	  background-color: #dde3ec;
	  border-radius: 5px;
	}
	.ui-menu-item-wrapper{
		padding: 15px 18px;
		border: none;
	}
	.ui-state-active, .ui-widget-content .ui-state-active{
		background: transparent;
		color: @orange;
		border: none;
		margin: 0;
		font-weight: 500;
	}
}
.breadcrumbs{
	a{
		color: @red;
	}
	svg{
		margin-right: 8px;
	}
}
.ui-selectmenu-menu{
	.ui-state-disabled{
		display: none;
	}
}
.ui-front{
	z-index: 5;
}
.section{
	padding-bottom: 75px;
}
.article-page{
	.main-container{
		padding-top: 100px;
	}
	.content-section h2+p{
		margin-bottom: 22px;
	}
}
.selects{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -7.5px;
	min-width: 50%;

	& > *{
		flex: 1 1 200px;
		margin: 0 7.5px 15px;
	}
}
.wrap-slider{
	text-align: center;
	min-width: 255px;

	.slider-fade{
		text-align: center;
		margin: 0 20px;
		padding-top: 15px;
		
		.slick-slide{
			display: flex;
			flex-direction: column;
			justify-content: center;

			img{
				align-self: center;
			}
		}
		p{
			font-size: 12px;
			margin-top: 10px;
		}
		img{
			display: inline-block;
		}
	}
}
.main-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	.transition;
	padding: 10px 0;

	&.scroll{
		background: @black;
		padding: 0;

		.main-menu a{
			color: #fff;
		}
		.line-hamburger{
			background: #fff;
		}
		.logo{
			img{
				filter: invert(100%) brightness(20);
			}
		}
		.language .switch{
			color: #fff;
			background-image: url(../img/icons/down-arrow.svg);
		}
	}
	.center{
		max-width: 1366px;
	}
	.menu-vs-left{
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex: 1;
	}
	.wrap-menu{
		flex: 1;
	}
	.main-menu{
		margin: 0 40px 0 10px;

		a{
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			color: @black;

			&:hover{
				color: @orange!important;
			}
		}
	}
	.right{
		display: flex; 
		align-items: center;
	}
	.btn{
		height: 40px;
		border-radius: 20px;
		margin-top: 0;
		font-size: 16px;
		padding: 0 20px;
		box-shadow: none;
	}
	.language{
		margin-left: 63px;
		position: relative;

		&, *{
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.switch{
			color: @black;
			background: transparent;
			background: url(../img/icons/down-arrow-black.svg) no-repeat center right;
			background-size: 10px;
			.transition;

			&:hover{
				color: @orange!important;
				background-image: url(../img/icons/down-arrow-orange.svg)!important;
			}
		}
		.switch, .item{
			padding: 12px 17px;
		}
		.list{
			top: 100%;
			left: 0;
			display: none;
			position: absolute;
			background: #ffffff;
			border-radius: 6px 0 6px 6px;

			.item:hover, .active{
				color: @orange;
			}
			.item{
				cursor: pointer;
			}
		}
	}
}
.top-block{
	.container{
		min-height: 700px;
		padding: 120px 0;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.number{
		svg{
			margin-right: 15px;
		}
	}
}
.content-section{
	overflow: hidden;

	h2{
		& + p{
			font-size: 26px;
			line-height: 42px;
			opacity: 1;
			margin-bottom: 55px;
		}
	}
	p{
		opacity: 0.8;
		line-height: 27px;
	}
	.columns{
		margin-top: 60px;
	}
	.full-image{
		width: 100%;
		max-height: 500px;
		.bg-image;
		margin-bottom: 60px;

		&:after{
			content: '';
			padding-top: 50%;
			display: block;
		}
	}
	.image{
		width: 50%;
		float: right;
		position: relative;
		margin-bottom: 45px;
		margin-left: 50px;

		&:after{
			content: '';
			display: block;
			padding-top: 70%;
		}
		.content{
			position: absolute;
			top: 0;
			left: 0;
			width: 1000%;
			height: 100%;

			img{
				max-height: 100%;
				border-radius: 15px;
			}
		}
	}
}
.time-overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 5;
}
.main-footer{
	border-top: 1px solid #dde3ec;
	padding: 30px 0 20px;

	.copyright{
		opacity: 0.6;
		font-size: 14px;
	}
	.network{
		a{
			display: inline-flex;
			align-items: center;

			svg{
				margin-right: 4px;
			}
			&	+ a{
				margin-left: 40px;
			}
		}
	}
}
.mfp-close-btn-in .mfp-close{
	position: absolute;
	top: 35px;
	right: 0px;
	font-size: 0;
	opacity: 1;

	&:before,
	&:after{
		display: inline-block;
		height: 2px;
		background: @red;
		position: absolute;
		content: '';
		transform-origin: 50% 50%;
		top: 50%;
		left: 50%;
		margin: 0px 0 0 -25px;
		width: 24px;
		transition: transform .1s ease;
	}
	&:before{
		transform: rotate3d(0,0,1,45deg);
	}
	&:after{
    transform: rotate3d(0,0,1,-45deg);
	}
	&:hover{
		&:before,
		&:after{
			transform: rotate3d(0,0,1,0deg);
		}
	}
}
/*
====== Zoom-out effect ======
*/
.mfp-zoom-out {

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out; 
    transform: scale(1.3); 
  }
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing { 
    .mfp-with-anim {
      transform: scale(1.3); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}
.mfp-zoom-in{
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    } 
  } 
}
.close-popup{
	svg{
		margin-right: 15px;
	}
}
.ui-widget-shadow{
	box-shadow: 0 0 10px #bababa;
	border: none!important;
}
.white-popup{
	padding: 40px;
	max-width: 400px;
	border-radius: 15px;
	background-color: #dde3ec;
	margin: 0 auto;
	position: relative;

	input:not([type="submit"]){
		border: none;
		background: #fff;
		height: 60px;
		border-radius: 6px;
		padding-top: 12px;

		&.error{
			box-shadow: 0 0 12px 0px @orange;
		}
	}
	.error:not(input){
		margin-top: 5px;
		color: #6a7996;
		display: inline-block;
		font-size: 12px;
	}
	.input{
		position: relative;
		padding-bottom: 20px;

		.placeholder{
			font-weight: bold!important;
			position: absolute;
			top: 20px;
			left: 15px;
			.transition;

			&.active{
				font-size: 10px;
				opacity: 0.4;
				bottom: auto;
				top: 10px;
			}
		}
		.error + .error + .placeholder{
			font-size: 10px;
			color: @red;
			bottom: auto;
			top: 10px;
			opacity: 1;
		}
	}
	.checkbox{
		margin-top: 10px;

		label{
			border-color: transparent;
		}
	}
	.btn{
		font-size: 16px;
		margin-top: 25px;
	}
}
.counter{
	max-width: 260px;
	border: 1px solid #a4aec0;
	border-radius: 5px;
	display: flex;
	max-height: 50px;
	overflow: hidden;

	input{
		border: none;
		height: 48px;
		width: 180px;
	}
	.btns{
		display: flex;
		margin-left: -35px;

		button{
			background: transparent;
			font-size: 37px;
			color: @orange;
			padding: 0 17px;
			line-height: 50px;
			background: #fff;
		}
		.minus{
			font-size: 32px;
			margin-top: -4px;
			padding: 0 15px 0 19px;
		}
	}
}
.hamburger {
  width: 20px;
  height: 20px;
  .position-center;
  right: 15px;
  left: auto;
  cursor: pointer;
  display: none;

  &.active{
  	.line-hamburger {
	    animation: down 0.2s ease-in-out, up 0.2s ease-in-out 0.2s;
	    transform: rotate(45deg);
	    top: 35%;
	    transition: transform 0.2s ease-in-out 0.2s;
	    &:nth-child(3) { transform: rotate(-45deg); }
	  }
  }
  &:not(.active){
  	.line-hamburger {
  	  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out 0.2s;
  	}
  }
  &.active{
  	.line-hamburger{
  		background: @orange;
  	}
  }
}
.line-hamburger {
  background: @black;
  height: 2px;
  width: 20px;
  position: absolute;
  
  &:nth-child(1) { top: 0%; }
  &:nth-child(2) { top: 35%; }
  &:nth-child(3) { top: 70%; }
}
.all-article-section{
	h4{
		margin: 0;
	}
	.item{
		display: inline-flex;
		align-items: flex-end;
		padding: 30px;
		color: #fff;
		.bg-image;

		&:after{
			content: '';
			display: block;
			padding-top: 60%;
		}
		h4{
			font-size: 18px;
		}
	}
	.full{
		padding: 39px 41px;
		display: flex;
		align-items: flex-end;
		min-width: 64%;

		.bg-image;

		&:after{
			content: '';
			display: block;
			padding-top: 65%;
		}
	}
	.double{
		flex: 1!important;

		h4{
			font-size: 18px;
		}
		.inner{
			padding: 30px;
			display: flex;
			border-radius: 15px;
			align-items: flex-end;
			.bg-image;

			&:after{
				content: '';
				display: block;
				padding-top: 62%;
			}

			& + .inner{
				margin-top: 30px;
			}
		}
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;

		& > *{
			flex: 1 1 30%;
			margin: 15px;
			color: #fff;
			border-radius: 15px;
		}
	}
}
@keyframes down {
  100% {
    top: 75%;
  }
}
@keyframes up {
  0% {
    top: 75%;
  }
  100% {
    top: 35%;
  }
}
.breadcrumbs{
	margin-bottom: 10px;
}
.pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;

	.arrow{
		width: 40px;
		height: 40px;
		background: url(../img/icons/go-back-left-arrow.svg) no-repeat center;

		&.next{
			transform: rotate(180deg);
		}
	}
	.pages{
		display: flex;
		margin: 0 15px;

		a{
			width: 60px;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			color: #6a7996;
			border-bottom: 1px solid transparent;

			&.active, &:hover{
				border-bottom: 1px solid #a4aec0;
				color: @black;
			}
		}
	}
}
@media screen and (max-width: 1250px){
	.main-header{
		padding: 0;

		.hamburger{
			display: block;
		}
		.container{
			justify-content: center;
		}
		.logo{
			margin: 11px;

			img{
				max-height: 25px;
			}
		}
		.main-menu a{
			color: #fff;
		}
		.language .switch{
			color: #fff;
			background-image: url(../img/icons/down-arrow.svg);
		}
		.menu-vs-left{
			margin: 0;
			position: fixed;
			height: 100%;
			top: 0;
			right: -100%;
			background: @black;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			padding: 15px 50px 25px 25px;
			.transition;

			&.open{
				right: 0%;
			}
			.main-menu{
				display: block;
				margin: 0;

				li{
					margin: 0;

					& + li{
						margin-top: 30px;
					}
				}
			}
			.wrap-menu{
				flex: 0;
			}
			.right{
				flex-direction: column;
				align-items: flex-start;

				.language{
					order: 1;
					margin: 25px 25px 25px -15px;
				}
				.btn{
					order: 2;
				}
			}
		}	
	}
	.main-container{
		padding: 90px 0 50px;
	}
	.article-page{
		.main-container{
			padding-top: 50px;
			padding-bottom: 30px;
		}
	}
}
@media screen and (max-width: 920px){
	.content-section{
		.container{
			display: flex;
			flex-direction: column;

			h2{
				& + p{
					font-size: 18px;
					line-height: 30px;
					margin-bottom: 30px;
				}
			}
			p + p{
				margin-top: 20px;
			}
			.columns{
				margin-top: 20px;
			}
		}
		.image{
			width: 100%;
			float: none;
			text-align: center;
			margin: 0 0 20px; 

			&:after{
				padding-top: inherit;
			}
			.content{
				position: relative;
				width: 110%;
				height: inherit;
				margin-left: -5%;

				img{
					border-radius: 0
				}
			}
		}
	}
}
@media screen and (max-width: 768px){
	body{
		font-size: 14px;
	}
	h1{
		font-size: 34px;

		& + p{
			font-size: 18px;
		}
	}
	h2{
		font-size: 24px;
		margin-bottom: 30px;
	}
	.pluso{
		margin-top: 10px;
	}
	.pagination{
		.pages{
			a{
				width: 40px;
				height: 40px;
			}
		}
	}
	.all-article-section{
		h2{
			margin-bottom: 10px;
		}
		h4{
			font-size: 16px;
		}
		.double .inner, .full, .item{
			padding: 20px 30px;
		}
		.double{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			flex: 1 1 450px!important;
			margin: 0!important;

			.inner{
				flex: 1 1 300px;
				margin: 10px!important;
			}
		}
		.container{
			margin: 0 -10px;

			& > *{
				flex: 1 1 300px;
				margin: 10px;
			}
		}
	}
	.article-page{
		.full-image{
			margin-bottom: 30px;
		}
	}
	.content-section{
		.container {
			h2{
				margin-bottom: 10px;

				& + p{
					margin-bottom: 10px;
				}
			}
		}
	}
	.wrap-slider{
		min-width: 100%;
	}
	.btn{
		height: 50px;
		font-size: 16px;
	}
	.main-footer .network{
		flex-direction: column;
		display: flex;

		a + a{
			margin: 20px 0 0;
		}
	}
	.section{
		padding-bottom: 45px;
	}
	.top-block{
		.container{
			min-height: inherit;
			padding: 70px 0 30px;
		}
	}
  .white-popup{
    padding: 60px 25px 60px;

    h2{
      font-size: 30px;
      margin-bottom: 20px;

      & + p{
        margin-bottom: 30px;
      }
    }
    .btn{
      margin-top: 40px;
    }
  }
}

@import url(index.less);
@import url(alert.less);
@import url(checkout.less);